<!DOCTYPE html>
<html>
	<head>
		<title>BLAST</title>
		<link rel="stylesheet" href="<%= basepath %>/blast.css">
	</head>
	<body>
	<div id="blast-form" data-basepath="<%= basepath %>" data-socketio="<%= socketio %>" data-external-taxonid="<%= taxonid %>">
	<label>Sequence:</label>
	<textarea name='seq' id="seqinput"></textarea>
	<br>
	<select name='moltype'>
		<option>nucl</option>
		<option>prot</option>
	</select>
	<select class="dbselect" id="nucl" name="nucllist">
	  <% nucllist.forEach(function(element){ %>
		<option><%= element %></option>
	  <% }) %>
	</select>
	<select class="dbselect" id="prot" name="protlist">
	  <% protlist.forEach(function(element){ %>
		<option><%= element %></option>
	  <% }) %>
	</select>
	<button id="blast-exec" data-exec="<%= exec %>">Submit</button>
	</div>
	<!-- Placeholders for data -->
	<div id="blast-data"></div>
	<div id="align-data"></div>
	<div id="tree-data"></div>
	<div id="treeview-data"></div>
	<script src='https://code.jquery.com/jquery-1.11.1.js'></script><%if (socketio) { %>
	<script src='<%= basepath %>/socket.io/socket.io.js'></script><% } %>
	<script src='<%= basepath %>/vendor/js/async/async.min.js'></script>
	<script src='<%= basepath %>/vendor/js/pouchdb/pouchdb.min.js'></script>
	<script src='<%= basepath %>/js/blast.js'></script>
	<script src='<%= basepath %>/js/align.js'></script>
	</body>
</html>
