<!DOCTYPE html>
<html>
	<head>
		<title>Sequence API</title>
	</head>
	<body>
		<h2>REST API of Sequences</h2>
		<div class="list">
			<ul>
				<li><a href="db/">/db</a>: list of available sequence databases</li>
				<li><a href="db/EXAMPLEDB/entry/ABCDD_YYY/fasta">/db/EXAMPLEDB/entry/ABCDD_YYY/fasta</a>: FASTA entry in JSON format</li>
				<li><a href="db/EXAMPLEDB/entry/ABCDD_YYY/fasta/2">/db/EXAMPLEDB/entry/ABCDD_YYY/fasta/2</a>: FASTA entry that can be downloaded</li>
				<li><a href="blast/">/blast</a>: displays a BLAST form</li>
				<li><a href="upload/">/upload</a>: uploads a report</li>	
			</ul>
		</div>
	</body>
</html>

