<!DOCTYPE html>
<html>
	<head>
		<title>Report Upload</title>
	<link rel="stylesheet" href="<%= basepath %>/blast.css">
	</head>
	<body>
	<form id="uploadform" action="<%= basepath %>/load" method="POST" enctype="multipart/form-data">
	  <input type="file" name="report"> 
	  <input type="submit" value="Upload report">
	  <span id="status"></span>
	</form>
	<!-- Placeholders for data -->
	<div id="list-data"></div>
	<div id="blast-data"></div>
	<script src='<%= basepath %>/vendor/js/jquery/jquery.min.js'></script>
	<script src='<%= basepath %>/vendor/js/pouchdb/pouchdb.min.js'></script>
	<script src='<%= basepath %>/vendor/js/async/async.min.js'></script>
	<script src='<%= basepath %>/js/pouchdb.js'></script>
	<script src='<%= basepath %>/js/blast.js'></script>
	</body>
</html>

