<!DOCTYPE html>
<html>
	<head>
		<title>Report Upload</title>
	<link rel="stylesheet" href="<%= basepath %>/blast.css">
	</head>
	<body>
	<form id="uploadform" action="<%= basepath %>/load" method="POST" enctype="multipart/form-data">
	  <input type="file" name="report"> 
	  <input type="submit" value="Upload report">
	  <span id="status"></span>
	</form>
	<!-- Placeholders for data -->
	<div id="list-data"></div>
	<div id="blast-data"></div>
	<script src='<%= basepath %>/vendor/js/jquery/jquery.min.js'></script>
	<script src='<%= basepath %>/vendor/js/pouchdb/pouchdb.min.js'></script>
	<script src='<%= basepath %>/vendor/js/async/async.min.js'></script>
	<script src='<%= basepath %>/js/pouchdb.js'></script>
	<script src='<%= basepath %>/js/blast.js'></script>
<script>
$( document ).ready( function( ){

	//new PouchDB('reports').destroy().then(function () {
	//  // database destroyed
	//}).catch(function (err) {
	//  // error occurred
	//})


	pouchdb_listdocs( "reports", "typeindex", "blast", function( data ){
		console.log( data );
		if ( data && data.total_rows > 0 ) {
			if ( data.rows ) {
				var str = "<ul id='storedBlast'>";
				for ( var r = 0; r < data.rows.length; r = r + 1 ) {
					var entry = data.rows[r];
					str = str + "<li><a class='storedDoc' data-id='"+entry.value[0]+"' href='#'>"+entry.value[1]+"</a></li>";
				}
				str = str + "</ul>";
				$( "#list-data" ).empty();
				$( "#list-data" ).append( str );
			}
		}
	});
	
});

$('#uploadform').on('click', "input[type=submit]", function( e ) {

	e.preventDefault();

	var fd = new FormData();
	fd.append( 'report', $( "input[name=report]" )[0].files[0] );

	console.log( fd );

    $.ajax({
		url: "<%= basepath %>/load",
		dataType: 'text',
		cache: false,
		contentType: false,
		processData: false,
		data: fd,                         
		type: 'post',
		success: function(response){
			printBLASTall( response, 1, function( txt ) {
				$("#blast-data").append( txt ); 
			});
		}
     });
});

$("#list-data").on('click', "#storedBlast .storedDoc", function( e ) {

	e.preventDefault();
	var docId = $(this).data( "id" );

	if ( docId ) {
		pouchdb_retrieve( "reports", docId, function( err, response ) {
			if ( ! err ) {
				printBLASTall( response, null, function( txt ) {
					$("#blast-data").empty();
					$("#blast-data").append( txt ); 
				});
			}
		});
	}

});

</script>
	</body>
</html>

